<div class="AppContent">

  <h1 class="AppContent__title">Tenzies</h1>
  <p class="AppContent__text">Roll until all dice are the same. Click each die to freeze it at its current value between rolls.</p>
  <div class='AppContent__button'>
    <button  *ngFor="let button of allButton" (click)="activeButton(button.id)"  [class.active]="button.isHold">{{button.value}}</button>
  </div>
  <p class='AppContent__numberofRoll'>Number of rolls: {{numberOfRoll}} </p>
  <button class='AppContent__RollButton'  (click)=" changeValue()"> {{!gameStart ? "Roll":"New Game"}} </button>
  <p class='AppContent__higthscore'>High Score: {{minScore !== null ? minScore : '-'}}</p>

</div>

<router-outlet />
